.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 50px;
    gap: 20px;
}

.t-shirts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cart-container {
    border-radius: 10px;
    background-color: azure;
    padding: 25px;
}